:root {
  --vh: 100%;
}
/* 인트로 */
.intro {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.intro .removebg-preview-wrapper {
  background: linear-gradient(
    180deg,
    rgba(55.25, 219.04, 255, 0) 0%,
    rgba(124.1, 154.29, 204, 0.2) 37.5%,
    rgba(85.44, 112.24, 205.06, 0.19) 65.5%,
    rgba(24.22, 46.03, 242.25, 0.2) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: #cacaca;
  height: 640px;
  width: 360px;
}

.intro .removebg-preview-2 {
  height: 251px !important;
  left: 74px !important;
  top: 195px !important;
  width: 213px !important;
}

.intro .removebg-preview-instance {
  height: 251px !important;
  left: 5573px !important;
  top: 7607px !important;
  width: 213px !important;
}

/*메인화면*/
.main {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main .div {
  border: 1px solid;
  border-color: #cacaca;
  height: 50rem;
  position: relative;
  width: 22.5rem;
}

.main .view {
  background-color: #4b93ff;
  border-radius: 10px;
  height: 44px;
  left: 66px;
  position: absolute;
  top: 508px;
  width: 229px;
}

.main .group {
  height: 26px;
  left: 64px;
  position: relative;
  top: 9px;
  width: 98px;
}

.main .text-wrapper {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.main .member-card {
  height: 26px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.main .overlap {
  background-color: #67acff;
  border-radius: 10px;
  height: 44px;
  left: 66px;
  position: absolute;
  top: 446px;
  width: 229px;
}

.main .group-2 {
  height: 22px;
  left: 45px;
  position: relative;
  top: 11px;
  width: 141px;
}

.main .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.main .closed-padlock {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.main .removebg-preview-2 {
  height: unset !important;
  left: 112px !important;
  position: absolute !important;
  top: 53px !important;
  width: unset !important;
}

.main .removebg-preview-instance {
  left: 5001px !important;
  top: 7737px !important;
}

.main .robot {
  height: 51px;
  left: 155px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 50px;
}

.main .overlap-group {
  height: 66px;
  left: 43px;
  position: absolute;
  top: 313px;
  width: 276px;
}

.main .overlap-group-wrapper {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.main .overlap-group-2 {
  height: 66px;
  position: relative;
}

.main .rectangle {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #5f5f5f40;
  height: 51px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 276px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.main .polygon {
  height: 22px;
  left: 125px;
  position: absolute;
  top: 0;
  width: 26px;
}

.main .p {
  color: #8abfff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}
